.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 128.4px;
}

/* header */
header {
    background-color: #372D23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    padding: 32px 80px;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.header_logo_link {
    display: inline-flex;

}

.header_ul {
    display: flex;
    column-gap: 48px;


}

.header_li_link {
    ffont-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    /* text-align: left; */

}


/* li:first-child{
    color: aquamarine;
} რატო ვერ უცვლის ფერს ?? */
/* li :first-child{
    color:  */


.active {
    color: #ED6C30
}


.inactive {
    color: #FCC21B;
}

.fa-bag-shopping {

    font-size: 40px;
    color: #FCC21B;
    display: flex;

}

/* section */
.section1 {
    background-color: #FCC21B;
    height: 640px;
    position: relative;
}

.section1_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1_content {
    background-color: #FCC21B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);

    padding: 34px 40px;
}

.section1_title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;

    color: #FFFFFF;
}

.section1_button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    color: #FFFFFF;
    background-color: #FCC21B;
    height: 52px;
    width: 224px;
    border: 3px solid white;

}

/* section2 */
.section2 {
    width: calc(1200 /1440 * 100%);

    display: flex;
    margin: 100px auto;
    column-gap: 100px;
}

.section2_img_box {
    width: 700px;
    height: 400px;
}

.section2_cover {

    /* width: 700px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2_article {

    width: 400px;
}

.section2_title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;

    color: #372D23;

}

.section2_text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #855C52;
    margin-block: 40px;
    /* width: 400px; */


}

.section2_button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #ED6C30;
    width: 211px;
    height: 52px;
    border: none;

}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    align-content: center; */
    background-color: #372D23;
    padding: 88px 130px;
}

.footer_title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer_li_link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #FCC21B;
}

.footer_middle_li {
    margin-block: 8px;
}

.footer_ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer_li_link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #FCC21B;
}
.icons_container{
    display: flex;
    column-gap: 16px;}

    .footer_title {

    }



